.card {
  width: 18rem;
  margin: 0 auto 20px; /* Centra horizontalmente y agrega margen inferior */
  box-sizing: border-box;
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .card {
      width: calc(100% - 40px); /* Ocupar todo el ancho disponible con margen */
  }
}
